@font-face {
	font-family: 'ec-font-icon';
	src:url('../fonts/ec-font-icon.eot');
	src:url('../fonts/ec-font-icon.eot#iefixtsid5a') format('embedded-opentype'),
		url('../fonts/ec-font-icon.woff') format('woff'),
		url('../fonts/ec-font-icon.ttf') format('truetype'),
		url('../fonts/ec-font-icon.svg#ec-font-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="eci-"], [class*=" eci-"] {
	font-family: 'ec-font-icon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.eci-weather-sun:before {
	content: "\e600";
}
.eci-weather-snow:before {
	content: "\e601";
}
.eci-weather-rain:before {
	content: "\e602";
}
.eci-weather-lightning:before {
	content: "\e603";
}
.eci-travel-palmtree-alt:before {
	content: "\e604";
}
.eci-travel-palmtree:before {
	content: "\e605";
}
.eci-travel:before {
	content: "\e606";
}
.eci-transit-truck:before {
	content: "\e607";
}
.eci-transit-train:before {
	content: "\e608";
}
.eci-transit-tracks:before {
	content: "\e609";
}
.eci-transit-sailboat:before {
	content: "\e60a";
}
.eci-transit-plane:before {
	content: "\e60b";
}
.eci-transit-gas:before {
	content: "\e60c";
}
.eci-transit-forklift-load:before {
	content: "\e60d";
}
.eci-transit-forklift:before {
	content: "\e60e";
}
.eci-transit-foot:before {
	content: "\e60f";
}
.eci-transit-ferry:before {
	content: "\e610";
}
.eci-transit-car:before {
	content: "\e611";
}
.eci-transit-bus-alt:before {
	content: "\e612";
}
.eci-transit-bus:before {
	content: "\e613";
}
.eci-transit-bike:before {
	content: "\e614";
}
.eci-transit-airplane:before {
	content: "\e615";
}
.eci-transfer-upload-alt1:before {
	content: "\e616";
}
.eci-transfer-upload-alt:before {
	content: "\e617";
}
.eci-transfer-upload:before {
	content: "\e618";
}
.eci-transfer-inbox-out:before {
	content: "\e619";
}
.eci-transfer-inbox-in:before {
	content: "\e61a";
}
.eci-transfer-inbox:before {
	content: "\e61b";
}
.eci-transfer-download-alt1:before {
	content: "\e61c";
}
.eci-transfer-download-alt:before {
	content: "\e61d";
}
.eci-transfer-download:before {
	content: "\e61e";
}
.eci-transfer-box-remove:before {
	content: "\e61f";
}
.eci-transfer-box-add:before {
	content: "\e620";
}
.eci-tool-tools:before {
	content: "\e621";
}
.eci-tool-quill:before {
	content: "\e622";
}
.eci-tool-pencil:before {
	content: "\e623";
}
.eci-tool-key-old:before {
	content: "\e624";
}
.eci-tool-key:before {
	content: "\e625";
}
.eci-tool-dropper:before {
	content: "\e626";
}
.eci-time-stopwatch:before {
	content: "\e627";
}
.eci-time-hourglass:before {
	content: "\e628";
}
.eci-time-clock:before {
	content: "\e629";
}
.eci-time-alarm:before {
	content: "\e62a";
}
.eci-tiles-sixteen:before {
	content: "\e62b";
}
.eci-tiles-plus:before {
	content: "\e62c";
}
.eci-tiles-nine:before {
	content: "\e62d";
}
.eci-tiles-minus:before {
	content: "\e62e";
}
.eci-tiles-four:before {
	content: "\e62f";
}
.eci-ticket-alt:before {
	content: "\e630";
}
.eci-ticket:before {
	content: "\e631";
}
.eci-thermometer:before {
	content: "\e632";
}
.eci-text-underline:before {
	content: "\e633";
}
.eci-text-strikethrough:before {
	content: "\e634";
}
.eci-text-size-up:before {
	content: "\e635";
}
.eci-text-size-plus:before {
	content: "\e636";
}
.eci-text-size-minus:before {
	content: "\e637";
}
.eci-text-size-down:before {
	content: "\e638";
}
.eci-text-size:before {
	content: "\e639";
}
.eci-text-overline:before {
	content: "\e63a";
}
.eci-text-italic:before {
	content: "\e63b";
}
.eci-text-bold:before {
	content: "\e63c";
}
.eci-text-align-right:before {
	content: "\e63d";
}
.eci-text-align-left:before {
	content: "\e63e";
}
.eci-text-align-justify:before {
	content: "\e63f";
}
.eci-text-align-center:before {
	content: "\e640";
}
.eci-tags:before {
	content: "\e641";
}
.eci-tag-label:before {
	content: "\e642";
}
.eci-tag-alt:before {
	content: "\e643";
}
.eci-tag:before {
	content: "\e644";
}
.eci-symbol-trophy:before {
	content: "\e645";
}
.eci-symbol-tree-pine:before {
	content: "\e646";
}
.eci-symbol-snowflake:before {
	content: "\e647";
}
.eci-symbol-scale:before {
	content: "\e648";
}
.eci-symbol-recycle:before {
	content: "\e649";
}
.eci-symbol-radar:before {
	content: "\e64a";
}
.eci-symbol-question:before {
	content: "\e64b";
}
.eci-symbol-puzzle:before {
	content: "\e64c";
}
.eci-symbol-prize:before {
	content: "\e64d";
}
.eci-symbol-plug:before {
	content: "\e64e";
}
.eci-symbol-phone:before {
	content: "\e64f";
}
.eci-symbol-outlet:before {
	content: "\e650";
}
.eci-symbol-lifesaver:before {
	content: "\e651";
}
.eci-symbol-leaderboard:before {
	content: "\e652";
}
.eci-symbol-infinite:before {
	content: "\e653";
}
.eci-symbol-gift:before {
	content: "\e654";
}
.eci-symbol-fire:before {
	content: "\e655";
}
.eci-symbol-fingerprint:before {
	content: "\e656";
}
.eci-symbol-filter:before {
	content: "\e657";
}
.eci-symbol-eye:before {
	content: "\e658";
}
.eci-symbol-direction:before {
	content: "\e659";
}
.eci-symbol-diamonds:before {
	content: "\e65a";
}
.eci-symbol-cursor-o:before {
	content: "\e65b";
}
.eci-symbol-cursor:before {
	content: "\e65c";
}
.eci-symbol-centerline:before {
	content: "\e65d";
}
.eci-symbol-candycane:before {
	content: "\e65e";
}
.eci-symbol-candle:before {
	content: "\e65f";
}
.eci-symbol-bucket:before {
	content: "\e660";
}
.eci-status-star-half:before {
	content: "\e661";
}
.eci-status-star-full:before {
	content: "\e662";
}
.eci-status-star-empty:before {
	content: "\e663";
}
.eci-status-ribbon-wave:before {
	content: "\e664";
}
.eci-status-ribbon:before {
	content: "\e665";
}
.eci-status-pin-remove:before {
	content: "\e666";
}
.eci-status-pin:before {
	content: "\e667";
}
.eci-shield-alert:before {
	content: "\e668";
}
.eci-shield:before {
	content: "\e669";
}
.eci-share-open:before {
	content: "\e66a";
}
.eci-share:before {
	content: "\e66b";
}
.eci-setting-shuffle:before {
	content: "\e66c";
}
.eci-setting-repeat:before {
	content: "\e66d";
}
.eci-setting-loop:before {
	content: "\e66e";
}
.eci-section-expand-all:before {
	content: "\e66f";
}
.eci-section-expand:before {
	content: "\e670";
}
.eci-section-collapse-all:before {
	content: "\e671";
}
.eci-section-collapse:before {
	content: "\e672";
}
.eci-search-minus:before {
	content: "\e673";
}
.eci-search-alt:before {
	content: "\e674";
}
.eci-search-add:before {
	content: "\e675";
}
.eci-search:before {
	content: "\e676";
}
.eci-science-radioactive:before {
	content: "\e677";
}
.eci-science-potion:before {
	content: "\e678";
}
.eci-reset:before {
	content: "\e679";
}
.eci-refresh-down:before {
	content: "\e67a";
}
.eci-refresh:before {
	content: "\e67b";
}
.eci-redo-curve:before {
	content: "\e67c";
}
.eci-redo:before {
	content: "\e67d";
}
.eci-rec-tardis:before {
	content: "\e67e";
}
.eci-rec-lavalamp:before {
	content: "\e67f";
}
.eci-rec-controller-xbox:before {
	content: "\e680";
}
.eci-rec-controller-snes:before {
	content: "\e681";
}
.eci-rec-bender:before {
	content: "\e682";
}
.eci-rec-arcade-button:before {
	content: "\e683";
}
.eci-quote-right:before {
	content: "\e684";
}
.eci-quote-left-round:before {
	content: "\e685";
}
.eci-quote-left:before {
	content: "\e686";
}
.eci-place-office:before {
	content: "\e687";
}
.eci-place-library:before {
	content: "\e688";
}
.eci-place-home-o-alt:before {
	content: "\e689";
}
.eci-place-home-o:before {
	content: "\e68a";
}
.eci-place-globe-wire:before {
	content: "\e68b";
}
.eci-place-globe:before {
	content: "\e68c";
}
.eci-place-city-seattle:before {
	content: "\e68d";
}
.eci-place-city-chicago:before {
	content: "\e68e";
}
.eci-place-city:before {
	content: "\e68f";
}
.eci-place-buildings:before {
	content: "\e690";
}
.eci-place-building:before {
	content: "\e691";
}
.eci-people-user-tie-alt:before {
	content: "\e692";
}
.eci-people-user-tie:before {
	content: "\e693";
}
.eci-people-users:before {
	content: "\e694";
}
.eci-people-user-minus:before {
	content: "\e695";
}
.eci-people-user-delete:before {
	content: "\e696";
}
.eci-people-user-alt:before {
	content: "\e697";
}
.eci-people-user-add:before {
	content: "\e698";
}
.eci-people-user:before {
	content: "\e699";
}
.eci-people-up:before {
	content: "\e69a";
}
.eci-people-search:before {
	content: "\e69b";
}
.eci-people-right:before {
	content: "\e69c";
}
.eci-people-profile:before {
	content: "\e69d";
}
.eci-people-person:before {
	content: "\e69e";
}
.eci-people-left-alt:before {
	content: "\e69f";
}
.eci-people-left:before {
	content: "\e6a0";
}
.eci-people-group-search:before {
	content: "\e6a1";
}
.eci-people-group-minus:before {
	content: "\e6a2";
}
.eci-people-group-delete:before {
	content: "\e6a3";
}
.eci-people-group-alt:before {
	content: "\e6a4";
}
.eci-people-group-add:before {
	content: "\e6a5";
}
.eci-people-group:before {
	content: "\e6a6";
}
.eci-people-down:before {
	content: "\e6a7";
}
.eci-people-chromakey:before {
	content: "\e6a8";
}
.eci-people-checkbox:before {
	content: "\e6a9";
}
.eci-paperclip-vertical:before {
	content: "\e6aa";
}
.eci-paperclip-alt:before {
	content: "\e6ab";
}
.eci-paperclip:before {
	content: "\e6ac";
}
.eci-paper:before {
	content: "\e6ad";
}
.eci-page-xml:before {
	content: "\e6ae";
}
.eci-page-word:before {
	content: "\e6af";
}
.eci-page-upload:before {
	content: "\e6b0";
}
.eci-page-text:before {
	content: "\e6b1";
}
.eci-page-solid-move:before {
	content: "\e6b2";
}
.eci-page-solid-cross:before {
	content: "\e6b3";
}
.eci-page-solid-add:before {
	content: "\e6b4";
}
.eci-page-solid:before {
	content: "\e6b5";
}
.eci-page-small:before {
	content: "\e6b6";
}
.eci-page-search:before {
	content: "\e6b7";
}
.eci-page-question:before {
	content: "\e6b8";
}
.eci-page-powerpoint:before {
	content: "\e6b9";
}
.eci-page-png:before {
	content: "\e6ba";
}
.eci-page-pdf-icon:before {
	content: "\e6bb";
}
.eci-page-pdf:before {
	content: "\e6bc";
}
.eci-page-new:before {
	content: "\e6bd";
}
.eci-page-jpg:before {
	content: "\e6be";
}
.eci-page-hidden:before {
	content: "\e6bf";
}
.eci-page-gif:before {
	content: "\e6c0";
}
.eci-page-excel:before {
	content: "\e6c1";
}
.eci-page-edit:before {
	content: "\e6c2";
}
.eci-page-duplicate:before {
	content: "\e6c3";
}
.eci-page-download:before {
	content: "\e6c4";
}
.eci-page-delete:before {
	content: "\e6c5";
}
.eci-page-copy:before {
	content: "\e6c6";
}
.eci-page-check:before {
	content: "\e6c7";
}
.eci-page-arrow:before {
	content: "\e6c8";
}
.eci-page-add:before {
	content: "\e6c9";
}
.eci-page:before {
	content: "\e6ca";
}
.eci-notification-star:before {
	content: "\e6cb";
}
.eci-notification-multiple:before {
	content: "\e6cc";
}
.eci-notification-above-multiple:before {
	content: "\e6cd";
}
.eci-notification-above:before {
	content: "\e6ce";
}
.eci-notification:before {
	content: "\e6cf";
}
.eci-media-tv:before {
	content: "\e6d0";
}
.eci-media-projector-screen:before {
	content: "\e6d1";
}
.eci-media-projector:before {
	content: "\e6d2";
}
.eci-media-newspaper:before {
	content: "\e6d3";
}
.eci-media-monitor-to:before {
	content: "\e6d4";
}
.eci-media-monitor-play:before {
	content: "\e6d5";
}
.eci-media-monitor-minus:before {
	content: "\e6d6";
}
.eci-media-monitor-delete:before {
	content: "\e6d7";
}
.eci-media-monitor-add:before {
	content: "\e6d8";
}
.eci-media-monitor:before {
	content: "\e6d9";
}
.eci-media-filmcamera:before {
	content: "\e6da";
}
.eci-media-film:before {
	content: "\e6db";
}
.eci-media-control-guide:before {
	content: "\e6dc";
}
.eci-media-cd:before {
	content: "\e6dd";
}
.eci-media-camera-person:before {
	content: "\e6de";
}
.eci-media-camera-alt:before {
	content: "\e6df";
}
.eci-media-camera:before {
	content: "\e6e0";
}
.eci-media-billboard:before {
	content: "\e6e1";
}
.eci-measurement-ruler-angle:before {
	content: "\e6e2";
}
.eci-measurement-ruler:before {
	content: "\e6e3";
}
.eci-map-pin-fill:before {
	content: "\e6e4";
}
.eci-map-pin-alt:before {
	content: "\e6e5";
}
.eci-map-pin:before {
	content: "\e6e6";
}
.eci-map-o:before {
	content: "\e6e7";
}
.eci-map-location-minus:before {
	content: "\e6e8";
}
.eci-map-location-delete:before {
	content: "\e6e9";
}
.eci-map-location-circle:before {
	content: "\e6ea";
}
.eci-map-location-add:before {
	content: "\e6eb";
}
.eci-map-location:before {
	content: "\e6ec";
}
.eci-map-alt:before {
	content: "\e6ed";
}
.eci-map-aerial-highway:before {
	content: "\e6ee";
}
.eci-map-aerial:before {
	content: "\e6ef";
}
.eci-map:before {
	content: "\e6f0";
}
.eci-logic-or:before {
	content: "\e6f1";
}
.eci-logic-and:before {
	content: "\e6f2";
}
.eci-list-two:before {
	content: "\e6f3";
}
.eci-list-table-3col:before {
	content: "\e6f4";
}
.eci-list-table-alt:before {
	content: "\e6f5";
}
.eci-list-table:before {
	content: "\e6f6";
}
.eci-list-star:before {
	content: "\e6f7";
}
.eci-list-squares:before {
	content: "\e6f8";
}
.eci-list-reorder-up:before {
	content: "\e6f9";
}
.eci-list-reorder-down:before {
	content: "\e6fa";
}
.eci-list-reorder:before {
	content: "\e6fb";
}
.eci-list-one:before {
	content: "\e6fc";
}
.eci-list-numbered:before {
	content: "\e6fd";
}
.eci-list-merge:before {
	content: "\e6fe";
}
.eci-list-menu-4:before {
	content: "\e6ff";
}
.eci-list-menu:before {
	content: "\e700";
}
.eci-list-hidden:before {
	content: "\e701";
}
.eci-list-gear:before {
	content: "\e702";
}
.eci-list-form:before {
	content: "\e703";
}
.eci-list-delete-inline:before {
	content: "\e704";
}
.eci-list-create:before {
	content: "\e705";
}
.eci-list-check:before {
	content: "\e706";
}
.eci-list-bullets:before {
	content: "\e707";
}
.eci-list:before {
	content: "\e708";
}
.eci-link-alt:before {
	content: "\e709";
}
.eci-light-lamp-alt:before {
	content: "\e70a";
}
.eci-light-lamp:before {
	content: "\e70b";
}
.eci-light-bulb-green:before {
	content: "\e70c";
}
.eci-light-bulb:before {
	content: "\e70d";
}
.eci-layout-insert:before {
	content: "\e70e";
}
.eci-layout:before {
	content: "\e70f";
}
.eci-layer-up:before {
	content: "\e710";
}
.eci-layers-thick:before {
	content: "\e711";
}
.eci-layers-o:before {
	content: "\e712";
}
.eci-layers-alt2:before {
	content: "\e713";
}
.eci-layers-alt:before {
	content: "\e714";
}
.eci-layers:before {
	content: "\e715";
}
.eci-layer-down:before {
	content: "\e716";
}
.eci-input-pen:before {
	content: "\e717";
}
.eci-input:before {
	content: "\e718";
}
.eci-image-select:before {
	content: "\e719";
}
.eci-image-portrait:before {
	content: "\e71a";
}
.eci-image-multiple:before {
	content: "\e71b";
}
.eci-image-landscape:before {
	content: "\e71c";
}
.eci-image-insert-right:before {
	content: "\e71d";
}
.eci-image-insert-left:before {
	content: "\e71e";
}
.eci-image-insert-justified:before {
	content: "\e71f";
}
.eci-image-insert-full:before {
	content: "\e720";
}
.eci-image-beach:before {
	content: "\e721";
}
.eci-image-alt:before {
	content: "\e722";
}
.eci-image:before {
	content: "\e723";
}
.eci-hotel-bed:before {
	content: "\e724";
}
.eci-hardware-usb-drive:before {
	content: "\e725";
}
.eci-hardware-usb:before {
	content: "\e726";
}
.eci-hardware-tablet-windows:before {
	content: "\e727";
}
.eci-hardware-laptop:before {
	content: "\e728";
}
.eci-hardware-calculator:before {
	content: "\e729";
}
.eci-handicap-out:before {
	content: "\e72a";
}
.eci-handicap-in:before {
	content: "\e72b";
}
.eci-handicap:before {
	content: "\e72c";
}
.eci-gender-male:before {
	content: "\e72d";
}
.eci-gender-female:before {
	content: "\e72e";
}
.eci-gender-both:before {
	content: "\e72f";
}
.eci-gauge-speed:before {
	content: "\e730";
}
.eci-gauge-meter-alt:before {
	content: "\e731";
}
.eci-gauge-meter:before {
	content: "\e732";
}
.eci-gauge-alt:before {
	content: "\e733";
}
.eci-gauge-100:before {
	content: "\e734";
}
.eci-gauge-75:before {
	content: "\e735";
}
.eci-gauge-50:before {
	content: "\e736";
}
.eci-gauge-25:before {
	content: "\e737";
}
.eci-gauge-0:before {
	content: "\e738";
}
.eci-form-radio-unchecked:before {
	content: "\e739";
}
.eci-form-radio-checked:before {
	content: "\e73a";
}
.eci-form-checkbox-unchecked:before {
	content: "\e73b";
}
.eci-form-checkbox-pencil-alt:before {
	content: "\e73c";
}
.eci-form-checkbox-pencil:before {
	content: "\e73d";
}
.eci-form-checkbox-partial:before {
	content: "\e73e";
}
.eci-form-checkbox-checked:before {
	content: "\e73f";
}
.eci-food-utensils-cross:before {
	content: "\e740";
}
.eci-food-utensils-alt:before {
	content: "\e741";
}
.eci-food-utensils:before {
	content: "\e742";
}
.eci-food-spoon:before {
	content: "\e743";
}
.eci-food-knife:before {
	content: "\e744";
}
.eci-food-fork:before {
	content: "\e745";
}
.eci-food-cup-paper:before {
	content: "\e746";
}
.eci-food-cup:before {
	content: "\e747";
}
.eci-food-beer:before {
	content: "\e748";
}
.eci-food:before {
	content: "\e749";
}
.eci-flag-wavy:before {
	content: "\e74a";
}
.eci-flag-alt:before {
	content: "\e74b";
}
.eci-flag:before {
	content: "\e74c";
}
.eci-email-o:before {
	content: "\e74d";
}
.eci-email:before {
	content: "\e74e";
}
.eci-door-leave:before {
	content: "\e74f";
}
.eci-door-enter:before {
	content: "\e750";
}
.eci-diagram-tree-folders:before {
	content: "\e751";
}
.eci-diagram-tree-alt:before {
	content: "\e752";
}
.eci-diagram-tree:before {
	content: "\e753";
}
.eci-diagram:before {
	content: "\e754";
}
.eci-debug-step-over:before {
	content: "\e755";
}
.eci-debug-step-out:before {
	content: "\e756";
}
.eci-debug-step-into:before {
	content: "\e757";
}
.eci-debug-restart:before {
	content: "\e758";
}
.eci-database-delete:before {
	content: "\e759";
}
.eci-database-alt:before {
	content: "\e75a";
}
.eci-database-add:before {
	content: "\e75b";
}
.eci-database:before {
	content: "\e75c";
}
.eci-currency-piggybank:before {
	content: "\e75d";
}
.eci-currency-money:before {
	content: "\e75e";
}
.eci-currency-creditcard:before {
	content: "\e75f";
}
.eci-currency-coupon:before {
	content: "\e760";
}
.eci-commerce-cart:before {
	content: "\e761";
}
.eci-cogs:before {
	content: "\e762";
}
.eci-cog-alt:before {
	content: "\e763";
}
.eci-cog:before {
	content: "\e764";
}
.eci-code-xml:before {
	content: "\e765";
}
.eci-code-symbol-fx:before {
	content: "\e766";
}
.eci-code-symbol-bracket:before {
	content: "\e767";
}
.eci-code-symbol-braces:before {
	content: "\e768";
}
.eci-code-symbol-at:before {
	content: "\e769";
}
.eci-code-qrcode-alt:before {
	content: "\e76a";
}
.eci-code-qrcode:before {
	content: "\e76b";
}
.eci-code-information-circle:before {
	content: "\e76c";
}
.eci-code-information:before {
	content: "\e76d";
}
.eci-code-console:before {
	content: "\e76e";
}
.eci-code-bug:before {
	content: "\e76f";
}
.eci-code-barcode-alt:before {
	content: "\e770";
}
.eci-code-barcode:before {
	content: "\e771";
}
.eci-cloud-upload-alt:before {
	content: "\e772";
}
.eci-cloud-upload:before {
	content: "\e773";
}
.eci-cloud-irc:before {
	content: "\e774";
}
.eci-cloud-download-alt:before {
	content: "\e775";
}
.eci-cloud-download:before {
	content: "\e776";
}
.eci-cloud-delete:before {
	content: "\e777";
}
.eci-cloud-alt:before {
	content: "\e778";
}
.eci-cloud-add:before {
	content: "\e779";
}
.eci-cloud:before {
	content: "\e77a";
}
.eci-clipboard-signup:before {
	content: "\e77b";
}
.eci-clipboard-paste:before {
	content: "\e77c";
}
.eci-clipboard-o-check:before {
	content: "\e77d";
}
.eci-clipboard-o:before {
	content: "\e77e";
}
.eci-clipboard-alt-edit:before {
	content: "\e77f";
}
.eci-clipboard-alt:before {
	content: "\e780";
}
.eci-clipboard:before {
	content: "\e781";
}
.eci-clear-o:before {
	content: "\e782";
}
.eci-clear:before {
	content: "\e783";
}
.eci-clean-broom:before {
	content: "\e784";
}
.eci-clean:before {
	content: "\e785";
}
.eci-circle-plus:before {
	content: "\e786";
}
.eci-circle-minus:before {
	content: "\e787";
}
.eci-circle-half:before {
	content: "\e788";
}
.eci-circle-full:before {
	content: "\e789";
}
.eci-circle-empty:before {
	content: "\e78a";
}
.eci-circle-base-select:before {
	content: "\e78b";
}
.eci-circle-base:before {
	content: "\e78c";
}
.eci-circle-arrow-up:before {
	content: "\e78d";
}
.eci-circle-arrow-right:before {
	content: "\e78e";
}
.eci-circle-arrow-left:before {
	content: "\e78f";
}
.eci-circle-arrow-down:before {
	content: "\e790";
}
.eci-chat-bubble-o:before {
	content: "\e791";
}
.eci-chat-bubble:before {
	content: "\e792";
}
.eci-chat:before {
	content: "\e793";
}
.eci-chart-stocks:before {
	content: "\e794";
}
.eci-chart-stats-alt:before {
	content: "\e795";
}
.eci-chart-stats:before {
	content: "\e796";
}
.eci-chart-pie:before {
	content: "\e797";
}
.eci-chart-graph-line:before {
	content: "\e798";
}
.eci-chart-graph-histogram:before {
	content: "\e799";
}
.eci-chart-graph-boxplot:before {
	content: "\e79a";
}
.eci-chart-graph-bar:before {
	content: "\e79b";
}
.eci-chart-bars-alt3:before {
	content: "\e79c";
}
.eci-chart-bars-alt2:before {
	content: "\e79d";
}
.eci-chart-bars-alt:before {
	content: "\e79e";
}
.eci-chart-bars:before {
	content: "\e79f";
}
.eci-chart-alt:before {
	content: "\e7a0";
}
.eci-chart:before {
	content: "\e7a1";
}
.eci-cell-up:before {
	content: "\e7a2";
}
.eci-cell-row-delete:before {
	content: "\e7a3";
}
.eci-cell-merge:before {
	content: "\e7a4";
}
.eci-cell-insert-below:before {
	content: "\e7a5";
}
.eci-cell-insert-above:before {
	content: "\e7a6";
}
.eci-cell-down:before {
	content: "\e7a7";
}
.eci-cell-col-delete:before {
	content: "\e7a8";
}
.eci-cell-align:before {
	content: "\e7a9";
}
.eci-card-profile:before {
	content: "\e7aa";
}
.eci-card-business:before {
	content: "\e7ab";
}
.eci-card:before {
	content: "\e7ac";
}
.eci-calendar-year:before {
	content: "\e7ad";
}
.eci-calendar-week:before {
	content: "\e7ae";
}
.eci-calendar-tomorrow:before {
	content: "\e7af";
}
.eci-calendar-range:before {
	content: "\e7b0";
}
.eci-calendar-month:before {
	content: "\e7b1";
}
.eci-calendar-future:before {
	content: "\e7b2";
}
.eci-calendar-digital:before {
	content: "\e7b3";
}
.eci-calendar-day:before {
	content: "\e7b4";
}
.eci-calendar-alt:before {
	content: "\e7b5";
}
.eci-calendar-31:before {
	content: "\e7b6";
}
.eci-calendar-14:before {
	content: "\e7b7";
}
.eci-calendar:before {
	content: "\e7b8";
}
.eci-cabinet-out:before {
	content: "\e7b9";
}
.eci-cabinet-in:before {
	content: "\e7ba";
}
.eci-cabinet-files-alt:before {
	content: "\e7bb";
}
.eci-cabinet-files:before {
	content: "\e7bc";
}
.eci-cabinet-alt2:before {
	content: "\e7bd";
}
.eci-cabinet-alt:before {
	content: "\e7be";
}
.eci-cabinet:before {
	content: "\e7bf";
}
.eci-browser-ie:before {
	content: "\e7c0";
}
.eci-browser-chrome:before {
	content: "\e7c1";
}
.eci-browser:before {
	content: "\e7c2";
}
.eci-books:before {
	content: "\e7c3";
}
.eci-book-perspective:before {
	content: "\e7c4";
}
.eci-book-perpective-help:before {
	content: "\e7c5";
}
.eci-book-open-text-image:before {
	content: "\e7c6";
}
.eci-book-open-text:before {
	content: "\e7c7";
}
.eci-book-open-info:before {
	content: "\e7c8";
}
.eci-book-open:before {
	content: "\e7c9";
}
.eci-book-list:before {
	content: "\e7ca";
}
.eci-book-journal:before {
	content: "\e7cb";
}
.eci-book-hardcover-open-writing:before {
	content: "\e7cc";
}
.eci-book-hardcover-open:before {
	content: "\e7cd";
}
.eci-book-contact:before {
	content: "\e7ce";
}
.eci-book-alt2:before {
	content: "\e7cf";
}
.eci-book-address:before {
	content: "\e7d0";
}
.eci-book:before {
	content: "\e7d1";
}
.eci-arrow-up-down:before {
	content: "\e7d2";
}
.eci-arrow-up:before {
	content: "\e7d3";
}
.eci-arrow-right-left:before {
	content: "\e7d4";
}
.eci-arrow-right:before {
	content: "\e7d5";
}
.eci-arrow-left-right:before {
	content: "\e7d6";
}
.eci-arrow-left:before {
	content: "\e7d7";
}
.eci-arrow-expand:before {
	content: "\e7d8";
}
.eci-arrow-down-up:before {
	content: "\e7d9";
}
.eci-arrow-down:before {
	content: "\e7da";
}
.eci-arrow-corner-up-right:before {
	content: "\e7db";
}
.eci-arrow-collapsed:before {
	content: "\e7dc";
}
.eci-app-remove:before {
	content: "\e7dd";
}
.eci-app-plus:before {
	content: "\e7de";
}
.eci-app-minus:before {
	content: "\e7df";
}
.eci-app-favorite:before {
	content: "\e7e0";
}
.eci-app:before {
	content: "\e7e1";
}
.eci-alert-stop:before {
	content: "\e7e2";
}
.eci-alert-sign-stop:before {
	content: "\e7e3";
}
.eci-alert-sign-caution:before {
	content: "\e7e4";
}
.eci-alert-hazard:before {
	content: "\e7e5";
}
.eci-alert-exclamation:before {
	content: "\e7e6";
}
.eci-action-unlock-o:before {
	content: "\e7e7";
}
.eci-action-unlock:before {
	content: "\e7e8";
}
.eci-action-slice:before {
	content: "\e7e9";
}
.eci-action-new-window:before {
	content: "\e7ea";
}
.eci-action-new:before {
	content: "\e7eb";
}
.eci-action-lock-o:before {
	content: "\e7ec";
}
.eci-action-lock:before {
	content: "\e7ed";
}
.eci-action-delete:before {
	content: "\e7ee";
}
.eci-office-word:before {
	content: "\e7ef";
}
.eci-office-visio:before {
	content: "\e7f0";
}
.eci-office-sharepoint:before {
	content: "\e7f1";
}
.eci-office-publisher:before {
	content: "\e7f2";
}
.eci-office-project:before {
	content: "\e7f3";
}
.eci-office-powerpoint:before {
	content: "\e7f4";
}
.eci-office-outlook-alt:before {
	content: "\e7f5";
}
.eci-office-outlook:before {
	content: "\e7f6";
}
.eci-office-onenote:before {
	content: "\e7f7";
}
.eci-office-lync:before {
	content: "\e7f8";
}
.eci-office-logo:before {
	content: "\e7f9";
}
.eci-office-infopath:before {
	content: "\e7fa";
}
.eci-office-excel:before {
	content: "\e7fb";
}
.eci-office-access:before {
	content: "\e7fc";
}
.eci-office365:before {
	content: "\e7fd";
}
.eci-file-zip:before {
	content: "\e7fe";
}
.eci-file-xml:before {
	content: "\e7ff";
}
.eci-file-word:before {
	content: "\e800";
}
.eci-file-powerpoint:before {
	content: "\e801";
}
.eci-file-pdf:before {
	content: "\e802";
}
.eci-file-openoffice:before {
	content: "\e803";
}
.eci-file-excel:before {
	content: "\e804";
}
.eci-file-css:before {
	content: "\e805";
}
.eci-feed:before {
	content: "\e806";
}
.eci-browser-safari:before {
	content: "\e807";
}
.eci-browser-opera:before {
	content: "\e808";
}
.eci-browser-IE:before {
	content: "\e809";
}
.eci-browser-firefox2:before {
	content: "\e80a";
}
.eci-browser-firefox:before {
	content: "\e80b";
}
.eci-browser-chrome2:before {
	content: "\e80c";
}
.eci-brand-yelp:before {
	content: "\e80d";
}
.eci-brand-yammer:before {
	content: "\e80e";
}
.eci-brand-visa:before {
	content: "\e80f";
}
.eci-brand-reddit:before {
	content: "\e810";
}
.eci-brand-picasa:before {
	content: "\e811";
}
.eci-brand-paypal:before {
	content: "\e812";
}
.eci-brand-marketplace:before {
	content: "\e813";
}
.eci-brand-google:before {
	content: "\e814";
}
.eci-brand-bing:before {
	content: "\e815";
}
