/**********************
	 FORM CSS
************************/

@import url('default.css');
@import url('dreta_yourdata.css');

/******************
	CENTER
******************/
.center {
	width:36.88em;
	padding:0em 1.25em 0em 1.25em;
	color:#545050;
	line-height:1.03em;
	}
.center .top{
	overflow:hidden;
	width:100%;
	margin-top:2.18em;
	}
.center .top img{
	float:left;
	width:9em;
	height:9em;
	}
.center .top .text{
	width:27.2em;
	float:right;
	margin-top:0.1em;
	font-weight:bold;
	}
.center .top .text h2{
	font-size:1.25em;
	font-weight:normal;
	color:#d6161a;
	margin:0.2em 0em 0.5em 0em;
	}
.center h3{
	font-size:1.25em;
	font-weight:normal;
	color:#8193A6;
	margin-bottom:0.35em;
	}
.center .top p.subtitle{
	font-weight:normal !important;
	margin-top:0.7em;
	font-weight:bold;
	}
.center .top .text p{
	font-size:0.875em;
	color:#000000;
	font-weight:normal;
	margin-left:0em;
	}
.center .top .text p.organizers{
	color:#3f3f3f;
	font-size:0.812em;
	margin-top:1.1em;
	}
.center h3{
	clear:both;
	background:url(img/bg_registration.gif) center right no-repeat;
	padding:1.3em 35px 0.5em 0.5em;
	margin:0.4em 0em 0em 0em;
	display:inline;
	float:left;
	}
.center p{
	clear:both;
	color:#545050;
	}
.center h4{
	color:#d6161a;
	font-size:1.2em;
	margin-top:1.4em;
	}
.center h4.marginBottom{
	margin-bottom:1em;
	}
/****************
	FORM
*****************/
form{
	margin:1em 7em 0em 1em;
	clear:both;
	font-size:0.7em;
	display:block;
	overflow:hidden;
	float:left;
	}
*+html form{
	width:42em;
	}
* html form{
	width:36.75em;
	}
form p {
	margin-bottom:2.1em;
	}
.row{
	clear:both;
	width:100%;
	margin-bottom:0.2em;
	overflow:hidden;
	}
.row label {
	float:left;
	width:13%;
	}
.row input{
	border:none;
	background-color:#f2f2f2;
	width:86%;
	float:right;
	color:#545050;
	font-size:0.9em;
	}
fieldset{
	border:none;
	padding:0em;
	margin:0em;
	}
.buttons{
	display:block;
	float:right;
	margin:0.5em 0em 4em 0em;
	}
input.button{
	float:right;
	width:7.28em;
	height:1.46em;
	margin-left:0.2em;
	}
* html input.button{
	width:8.48em;
	height:1.69em;
	}
*+html input.button{
	width:8.48em;
	height:1.69em;
	}

/********************
	THANKS
**********************/
.thanks p{
	font-size:0.7em;
	}